html{
    --bg-color:#9F5440;
    background-color:var(--bg-color);
    color: #fcfbf1;
    font-family: 'Pontano Sans';
}

h1{
    font-family:'Oooh Baby'; font-size: 44px;
}

input[type=text]{
    width: 50%;
    background-color: #9f5440;
    color:#fcfbf1;
    border: none;
    border-bottom: 2px solid #e3c6af;
    font-size: 30px;
}

input[type=text]::placeholder{
    color: #e3c6af; opacity: .5;
}

#name_select_info{
    font-family:'Oooh Baby'; font-size: 25px;
}

#name_list{
    width: 50%;
    list-style-type:none;
    padding: 5px;
}
#name_list li{
    font-size: 30px;
    border-bottom: 2px solid #CEA190;
    padding: 5px;
}

main{
    margin:5%;
    display:grid;
    align-items:center;
    justify-content:center;
    grid-template-areas:
        'header' 
        'title-phrase'
        'input'
        'footer';
    grid-template-columns: 100%;
    grid-row-gap:20px;
}
