html{
    --bg-color: #9f5440;
    --border-color: #e3c6af;
    --text-color:#fcfbf1;
    background-color:var(--bg-color);
    color: #fcfbf1;
    font-family: 'Pontano Sans';
}

h1{
    font-family:'Oooh Baby'; font-size: 44px;
}

main{
    margin:5%;
    display:grid;
    align-items:center;
    justify-content:center;
    grid-template-areas:
        'header' 
        'title-phrase'
        'input'
        'footer';
    grid-template-columns: 100%;
    grid-row-gap:20px;
}

a {
    padding: 15px;
    border: 2px solid var(--border-color);
    font-size:30px;
    color:var(--text-color);
    width: min(300px, 100%);
    text-decoration:none;
    text-align:center;
}
